<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WebQuiz: Quiz Editor</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css?<%= rand(10000) %>"/>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/prototype-min.js"></script>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/effects-min.js"></script>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/controls.js"></script>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/dragdrop.js"></script>
    <script type="text/javascript" src="/javascripts/slider.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1>Quiz Editor</h1>
        <h3 id="titleh1"><%= @quiz.name %></h3>
        <div id="logo2">
          <img src="/images/logo.gif" width="64" height="64"/>
        </div>
      </div>
      <div id="menu">
         <a href="/user/home">Home</a>
          <a href="/user/edit">My Profile</a>
          <a href="/user/take_quizzes">Take Quizzes</a>
          <a href="/user/quizzes">My Quizzes</a>
          <a href="/quiz/edit/<%= @quiz.ref %>" style="color:#173A7A;">Quiz Editor</a>
          <a href="/user/logout">Logout</a>
          <select style="position:relative;left:60px;" id="editorChange" onchange="location=$('editorChange').options[$('editorChange').selectedIndex].value">
            <option value="#" selected="selected">Question Editor</option>
            <option value="/quiz/edit_settings/<%= @quiz.ref %>">Settings Editor</option>
          </select>
      </div>
      <div id="content">
          <form id="authenticity" name="authenticity">
            <input type="hidden" id="quiz_ref" value="<%= @quiz.ref %>"/>
            <%= token_tag %>
          </form>
    <script type="text/javascript" src="/javascripts/editor.js?<%= rand(10000) %>"></script>
        <div id="itemcanvas">
          <% for item in @items %>
            <div onclick="Inspect(this.id);" id="item_<%= item.id %>" class="item">
  <% if item.type2 == 1 %>
    <h2 id="h2_<%= item.ref %>"><%= h item.text %></h2>
    <script type="text/javascript">
       H2InPlace('<%= item.ref %>');
    </script>
  <% elsif item.type2 == 2 %>
    <span id="txt_<%= item.ref %>"><%= h item.text %></span>
    <script type="text/javascript">
       TXTInPlace('<%= item.ref %>');
    </script>
  <% elsif item.type2 == 3 %>
    <img class="scale-image<%= item.id %>" style="width:<%= h item.c1 %>px;height:<%= h item.c2 %>px" id="img<%= item.id %>" src="<%= h item.url %>" width="<%= h item.c1 %>" height="<%= h item.c2 %>"/>
  <% elsif item.type2 == 4 %>
    <span id="txt_<%= item.ref %>" style="font-weight:600"><%= h item.text %></span><br>
      <input type="radio" <% if item.answer == "A" %>checked="checked"<% end %> onchange="Answer('<%= item.ref %>', this.value);" name="group_<%= item.ref %>" value="A"> <span id="c1_<%= item.ref %>"><%= h item.c1 %><% if item.c1 == "" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></span><br>
      <input type="radio" <% if item.answer == "B" %>checked="checked"<% end %> onchange="Answer('<%= item.ref %>', this.value);" name="group_<%= item.ref %>" value="B"> <span id="c2_<%= item.ref %>"><%= h item.c2 %><% if item.c2 == "" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></span><br>
      <input type="radio" <% if item.answer == "C" %>checked="checked"<% end %> onchange="Answer('<%= item.ref %>', this.value);" name="group_<%= item.ref %>" value="C"> <span id="c3_<%= item.ref %>"><%= h item.c3 %><% if item.c3 == "" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></span><br>
      <input type="radio" <% if item.answer == "D" %>checked="checked"<% end %> onchange="Answer('<%= item.ref %>', this.value);" name="group_<%= item.ref %>" value="D"> <span id="c4_<%= item.ref %>"><%= h item.c4 %><% if item.c4 == "" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></span><br>
      <input type="radio" <% if item.answer == "E" %>checked="checked"<% end %> onchange="Answer('<%= item.ref %>', this.value);" name="group_<%= item.ref %>" value="E"> <span id="c5_<%= item.ref %>"><%= h item.c5 %><% if item.c5 == "" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></span><br>
    <script type="text/javascript">
       TXTInPlace('<%= item.ref %>');
       <% for i in 1..5 %>
         MCInPlace('<%= item.ref %>', '<%= i %>');
       <% end %>
    </script>
  <% elsif item.type2 == 5 %>
      <span style="font-weight:600" id="txt_<%= item.ref %>"><%= h item.text %><% if item.text == "" %>No text provided. Add text?<% end %></span><br>
      <input type="text" value="<%= h item.answer %>" id="exact_answer_<%= item.ref %>" onchange="Answer('<%= item.ref %>', this.value);" name="exact_answer" /> <span id="c1_<%= item.ref %>"><%= h item.c1 %><% if item.c1 == "" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %></span>
      <script type="text/javascript">
         TXTInPlace('<%= item.ref %>');
         MCInPlace('<%= item.ref %>', '1');
      </script>
  <% end %>
</div>
          <% end %>
        </div>
        <div id="inspector">
        <h3>Add Items</h3>
          <button type="button" onclick="LibraryItem('header', '<%= @quiz.ref %>');"><img src="/images/icons/text_heading_1.png"/></button>
         <button type="button" onclick="LibraryItem('text-section', '<%= @quiz.ref %>');"><img src="/images/icons/text_allcaps.png"/></button> <button type="button" onclick="LibraryItem('diagram', '<%= @quiz.ref %>');"><img src="/images/icons/picture.png"/></button><br>
         <button type="button" onclick="LibraryItem('mc-question', '<%= @quiz.ref %>');">Multiple-Choice Question</button><br>
          <button type="button" onclick="LibraryItem('exact-answer', '<%= @quiz.ref %>');">Exact-Answer Question</button><br>
        <h3>Inspector</h3>
        <div id="inspected">
          <em>No item selected</em>
        </div>
        <div id="inspector_ajax" style="display:none;">
        </div>
        </div>
      </div>
      <div id="bottom">
      
      </div>
    </div>
    <script type="text/javascript">
      Sortable.create("itemcanvas", { tag:'div', only:'item',
      onUpdate: function() {
      new Ajax.Request("/quiz/reorder/<%= @quiz.ref %>", {
      method: "post",
      parameters: { data: Sortable.serialize("itemcanvas", {tag:'div', key:'item'}), authenticity_token:auth }
      });
      }
      });
</script>
  </body>
</html>