<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WebQuiz: <%= h @quiz.name %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css?<%= rand(10000) %>"/>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/prototype-min.js"></script>
    <script type="text/javascript" src="/javascripts/quiz.js?<%= rand(1000000) %>"></script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1 id="titleh1"><%= h @quiz.name %></h1>
        <% if @quiz.total == 0 %>
            <% total = Item.sum('points', :conditions => ["quiz_id = ?", @quiz.id ]) %>
          <% else %>
            <% total = @quiz.total %>
          <% end %>
        <h3>Quiz Results!</h3>
        <div id="logo2">
          <img src="/images/logo.gif" width="64" height="64"/>
        </div>
      </div>
      <div id="menu">
         <a href="/user/home">Home</a>
          <a href="/user/edit">My Profile</a>
          <a href="/user/take_quizzes" style="color:#173A7A;">Take Quizzes</a>
          <a href="/user/quizzes">My Quizzes</a>
          <a href="/quiz/new">New Quiz</a>
          <a href="/user/logout">Logout</a>
      </div>
      <div id="content">
        <% if request.post? and @ok %>
          <h1 style="color:lightblue;text-align:center;font-size:36px;"><%= @taken.score.to_f %> <span style="color:#173A7A">/ <%= total %></span></h1>
          <center><br>
          <form id="tokens" name="tokens" action="/quiz/review/<%= @taken.ref %>" method="post">
              <%= token_tag %>
              <input type="hidden" name="quiz_ref" value="<%= @quiz.ref %>"/>
              <button type="submit" id="btnSubmit" style="color:#FFFFFF;background-color:#173A7A;border:1px outset #173A7A;"><img src="/images/icons/accept.png"/> Review Quiz</button>&nbsp;&nbsp;&nbsp;
                            <% if @takens.size < @quiz.attempts or @quiz.attempts == 0 %>
               <button type="button" style="color:#FFFFFF;background-color:#009900;border:1px outset #009900;" onclick="document.location.href='/quiz/take/<%= @quiz.ref %>'"><img src="/images/lightning.png"> Retake Quiz</button>     &nbsp;&nbsp;&nbsp;
              <% end %> <button type="button" onclick="document.location.href='/user/take_quizzes'"><img src="/images/cross.png"/> Exit</button>
            </form>
           </center>
        <% else %>
          <h1>You cannot resubmit this request.</h1>
        <% end %>
      </div>
      <div id="bottom">
      
      </div>
    </div>
  </body>
</html>