<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WebQuiz: My Quizzes</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css?<%= rand(10000) %>"/>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/prototype-min.js"></script>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/effects-min.js"></script>
	<script type="text/javascript" src="http://208.112.81.88/javascripts/controls.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1>My Quizzes</h1>
        <h3>Write good quizzes, please?</h3>
        <div id="logo2">
          <img src="/images/logo.gif" width="64" height="64"/>
        </div>
      </div>
      <div id="menu">
          <a href="/user/home">Home</a>
          <a href="/user/edit">My Profile</a>
          <a href="/user/take_quizzes">Take Quizzes</a>
          <a href="/user/quizzes" style="color:#173A7A;">My Quizzes</a>
          <a href="/quiz/new">New Quiz</a>
          <a href="/user/logout">Logout</a>
      </div>
      <div id="content">
        <% if @quizzes.blank? %>
           You haven't written any quizzes yet.
        <% else %>
      <br>
      <table id="quiztable" cellspacing="0">
        <tr>
        	<th scope="col">Name</th>
        	<th scope="col">Pts</th>
        	<th scope="col">Take</th>
        	<th scope="col">Edit</th>
          	<th scope="col">Results</th>
          	<th scope="col">X</th>
        </tr>
        <% for q in @quizzes %>
         <tr id="row_<%= q.ref %>" style="background-color:<%= cycle('#E5EBF0', '#FFFFFF') %>;">
        <td class="desc"><span id="name_<%= q.ref %>"><%= h q.name %></span></td>
          <% if q.total == 0 %>
            <% total = Item.sum('points', :conditions => ["quiz_id = ?", q.id ]) %>
          <% else %>
            <% total = q.total %>
          <% end %>
      <td class="lineitem"><%= total %></td>
      <td class="lineitem"><a href="/quiz/take/<%= q.ref %>"><img src="/images/page_white_edit.png"/></a></td>
      <td class="lineitem"><a href="/quiz/edit/<%= q.ref %>"><img src="/images/page_edit.png"/></a></td>
      <td class="lineitem"><a href="/quiz/results/<%= q.ref %>">View (<%= Taken.count(:all, :conditions => ["status = 1 and quiz_id = ?", q.id]) %>)</a></td>
      <td class="lineitem"><a href="javascript:void(0)" onclick="deleteQuiz('<%= q.ref %>')"><img src="/images/icons.delete.png"/></a></td>
        </tr>
        <% end %>            
      </table>
        <% end %>
      </div>
      <%= token_tag %>
      <script type="text/javascript" src="/javascripts/quizUtil.js?<%= rand(10000) %>"></script>
	  <script type="text/javascript" src="/jsgen/quizzes.js?<%= rand(1000000) %>"></script>
      <div id="bottom">
      
      </div>
    </div>
  </body>
</html>